.root {/* CSS HEX */
    --night: #0b090aff;
    --blood-red: #660708ff;
    --imperial-red: #e5383bff;
    --silver: #b1a7a6ff;
    --white: #ffffffff;
}

body {
    background-color: #b1a7a6ff;
    margin: 0px;
}

div {
    background-color: #660708ff;
    height: 45px;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #e5383bff;
    text-align: center;
    text-decoration: underline;
}

a {
    background-color: #e5383bff;
    color: #ffffffff;
    padding: 15px;
    border-radius: 15px;
}

a:hover {
    background-color: #b1a7a6ff;
    color: #0b090aff;
}

img {
    width: 800px;
    padding-left: 350px;
}

p {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 45px;
}

header {
    background-color: #660708ff;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000px;
}

footer {
    background-color: #660708ff;
    text-align: center;
    color: #ffffffff;
}

span {color: #e5383bff;}

iframe {
    padding-left: 450px;
}

